<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1> NYC </h1>
    <img height="100px" width="150px" src="http://images.ny-pictures.com/photo2/m/29248_m.jpg" alt="nyc">
    <h2>Welcome to my New York</h2>
    <form action="/showresults" method="POST">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br>
  Age:<br>
  <input type="text" name="age" value="19">
  <br><br>
  <input type="submit" value="Submit">
</form>
  </body>
</html>
