body{
    background-image: url("img/background-for-game.png");
    
    
    }
    
    .playing-container
    {
        margin-top: 100px;
        display:grid;
        grid-template-columns: 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px;
        justify-content: center;
    }
    
    .playingtile
    {
        background-color: white;
        border: 0.8px solid black;
        border-radius: 10px;
    
    
    }
    
    .colorOnClick
    {
        background-color: blue;
    }
    
    .cOnClick
    {
        background-color: blue;
    }
    
    .failOnClick
    {
      background-color: red;
    }
    
    .rightOnClick
    {
      background-color: green;
    }
    
    .fading
    {
    
    }

    .fail
    {

    }