


.playing-container
{
    display:grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    background-color: rgb(249, 249, 249);
    justify-content: center;
}

.playingtile
{
    background-color: white;
    border: 0.8px solid black;
    border-radius: 10px;

    
}

.colorOnClick
{
    background-color: rgb(17, 36, 252);
}